<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Andres Mesa</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" type="image/png" href="static/images/favicon.ico">
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<section id="header">
				<header>
					<span class="image avatar"><img src="static/images/linkedin_profile.jpeg" alt="" /></span>
					<h1 id="logo"><a href="#">Andres Mesa</a></h1>
					<p>I am a Data and Cloud Enthusiast with background in backend and Data Engineering.<br />
					I like to help people get insights from their data and learn about AWS.</p>
				</header>
				<nav id="nav">
					<ul>
						<li><a href="#one" class="active">About Me</a></li>
						<li><a href="#two">Things I like to do</a></li>
						<li><a href="#three">A Few Accomplishments</a></li>
						<li><a href="#four">My Latest Articles</a></li>
						<!-- <li><a href="#five">Contact</a></li> -->
					</ul>
				</nav>
				<footer>
					<ul class="icons">
						<li><a target="_blank" href="https://twitter.com/andresmesad" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a target="_blank" href="https://www.linkedin.com/in/andresmesad/" class="icon brands fa-linkedin-in"><span class="label">Facebook</span></a></li>
						<li><a target="_blank" href="https://github.com/andresmesad09" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<li><a target="_blank" href="https://medium.com/@andresf.mesad" class="icon brands fa-medium"><span class="label">Medium</span></a></li>
						<li><a target="_blank" href="https://www.youtube.com/channel/UCnqskNvTKnCYF81OO1N2f9Q" class="icon brands fa-youtube"><span class="label">YouTube</span></a></li>
					</ul>
				</footer>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="image main" data-position="left">
									<img src="static/images/banner_test.png" alt="banner"/>
								</div>
								<div class="container">
									<header class="major">
										<h2>About Me</h2>
										<p>Colombian data analyst and future data engineer<br />
										</p>
									</header>
									<p>I'm a Data Analyst and Report Developer with a robust experience with Python and relational databases<br />
										I've also worked with AWS and using IaC tools like CDK.
									</p>
								</div>
							</section>

						<!-- Two -->
							<section id="two">
								<div class="container">
									<h3>Things I Like to do</h3>
									<p>I love to learn. This web page is a proof of that. But here is a couple of things you might like to know to get me to know me better:</p>
									<ul class="feature-icons">
										<!--https://fontawesome.com/search-->
										<li class="icon solid fa-code">Code</li>
										<li class="icon solid fa-book">Read books and stuff</li>
										<li class="icon solid fa-language">Learn languages</li>
										<li class="icon solid fa-dumbbell">Exercise and Dance</li>
										<li class="icon solid fa-chalkboard-teacher">Teach</li>
										<li class="icon solid fa-people-carry">Spend time with family and friends</li>
									</ul>
								</div>
							</section>

						<!-- Three -->
							<section id="three">
								<div class="container">
									<h3>A Few Accomplishments</h3>
									<p>I'd like to share with you a couple of certifications that I've earned across my learning path</p>
									<div class="features">
										{% for cert in certifications %}
										<article>
											<a href="{{ cert.href }}" class="image"><img src="{{ cert.img }}" alt="{{ cert.alt }}" /></a>
											<div class="inner">
												<h4>{{ cert.name }}</h4>
												<p>{{ cert.description }}</p>
											</div>
										</article>
										{% endfor %}
									</div>
								</div>
							</section>

						<!-- Three -->
							<section id="four">
								<div class="container">
									<h3>Latest Medium articles</h3>
									<p>Follow me on <a href="https://medium.com/@andresf.mesad">Medium</a>  </p>
									<div class="features">
										<article>
											<a href="https://medium.com/@andresf.mesad/elt-pipeline-with-airflow-and-gcp-74954dd288fe" class="image"><img src="static/images/medium_article_0.webp" alt="latest medium article"/></a>
											<div class="inner">
												<h4>An ELT pipeline with Airflow and GCP</h4>
												<p>
													<b>Overview</b><br />
													As a final project for a Data Engineer course, I have created an ELT pipeline moving data from a PostgreSQL database (running on Digital Ocean), implementing a Delta Lake with GCP services such as Cloud Storage, BigQuery, Dataproc and Data Studio. And to manage all the workflow and schedule the pipeline, we get Airflow running hosted on a Digital Ocean's Droplet (virtual machine) and with Docker.
												</p>
											</div>
										</article>
										<article>
											<a href="https://medium.com/@andresf.mesad/analyze-data-with-pyspark-ae6ea91584fe" class="image"><img src="static/images/medium_article_1.webp" alt="second medium article"/></a>
											<div class="inner">
												<h4>Analyze Data with PySpark</h4>
												<p>
													<b>Overview</b><br />
													I plan to teach you how to analyze a sample data set in this article. Still, first, we’ll need to set up our environment to work with PySpark.
												</p>
											</div>
										</article>
									</div>
								</div>
							</section>

						<!-- Five -->
							<!-- <section id="five">
								<div class="container">
									<h3>Contact Me</h3>
									<p>Do you want to work with me? Would you like a piece of advice or just want to connect?.</p>
									<form method="post" action="/contact">
										<div class="row gtr-uniform">
											<div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name" /></div>
											<div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email" /></div>
											<div class="col-12"><input type="text" name="subject" id="subject" placeholder="Subject" /></div>
											<div class="col-12"><textarea name="message" id="message" placeholder="Message" rows="6"></textarea></div>
											<div class="col-12">
												<ul class="actions">
											https://sweetalert.js.org/guides/
													<li><input id="submitForm" type="submit" class="primary" value="Send Message" onclick="swal('Thank you!', 'I will contact you asap', 'success');"/></li>
													<li><input type="reset" value="Reset Form" /></li>
												</ul>
											</div>
										</div>
									</form>
								</div>
							</section> -->
					</div>

				<!-- Footer -->
					<section id="footer">
						<div class="container">
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>
			<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


	</body>
</html>